.home__background {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/LisbonFlowers.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
}

.home__content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.home__content .fa {
  position: absolute;
  bottom: 20px;
}

.home__content .fa:hover {
  color: #FA92A2;
}
