:root {
  --white: #fff;
  --gray: #202020;
  --light-gray: #c0c0c0;
  --pink: #fa92a2;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0 0;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  color: var(--gray);
}

h2 {
  font-size: 3em;
  margin: 0;
  color: var(--gray);
}

h3 {
  margin: 5px 0;
  color: var(--gray);
}

a {
  text-decoration: none;
  color: var(--gray);
}

a:hover {
  color: var(--pink);
}

p {
  font-size: 20px;
  margin: 5px 0;
}

.fa {
  margin: 15px 0;
  color: var(--gray);
  font-size: 60px;
  cursor: pointer;
}
